canvas
{
    background-color: black;
    position: relative;
}

#button1
{
    position: absolute;
    left: 44%;
    top: 60%;
    background-color: #fdfd96;
    outline-color: black;
    color: black;
    width: 80px;
}

#button1:hover
{
    background-color: #FFD1DC;
}

#button2
{
    position: absolute;
    left: 50%;
    top: 60%;
    background-color: #fdfd96;
    outline-color: black;
    color: black;
    width: 80px;
}

#button2:hover
{
    background-color: #FFD1DC;
}

#button3
{
    position: absolute;
    left: 38%;
    top: 60%;
    margin-bottom: 19%;
    background-color: #fdfd96;
    outline-color: black;
    color: black;
    width: 80px;
}
#button3:hover
{
    background-color: #FFD1DC;
}
#button4
{
    position: absolute;
    left: 56%;
    top: 60%;
    background-color: #fdfd96;
    outline-color: black;
    color: black;
    width: 80px;
}
#button4:hover
{
    background-color: #FFD1DC;
}

body
{
    margin: 0;
}
.imageGalOne {
    background-color: white;
    margin: 0;
}
.imageGalOne h2 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.photoBoundingBox1
{
  left: 50%;
}
.photoBoundingBox2
{
  left: 50%;
}
.photoBoundingBox3
{
  left: 50%;
}
.photo
{
    padding-bottom: 10px;
    position: relative;
}
.photo2
{
    padding-bottom: 10px;
}
#one
{
    margin-left: 180px;
}
#two
{
    padding-left: 10px;
    padding-right: 10px;
}
#four
{
    margin-left: 180px;
}
#five
{
    padding-left: 10px;
    padding-right: 10px;
}
#seven
{
    margin-left: 180px;
}
#eight
{
    padding-left: 10px;
    padding-right: 10px;
}
.footer
{
    background-color: black;
    margin-bottom: 0;
    height: 165px;
    text-align: center
}
.footer p
{
    color: #fdfd96;
    text-align: center;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
    line-height: 60px;
}
.footer img
{
    display: inline-block;
    margin-left: auto;
    padding: 4px;
    margin-right: auto;
}
.footer .minText
{
    color: #1f2121;
    text-align: center;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
    line-height: 60px;
}
.bio
{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.bioContent
{
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
    height: 330px;
}
.bioContent p
{
    padding-left: 20px;
}
#headShot
{
    margin-left: 150px;
    border: #fdfd96 solid 5px;
}
.contact
{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.contactContent
{
    margin-left: 18.5%;
    width: 150px;;
    margin-bottom: 20px;
    text-align: center;
}
.contactContent p
{
    padding: 5px;
}
#contactInfo
{
    display: inline-block;
    vertical-align: top;
}
#contactInfo button
{
    background-color: #fdfd96;
    color: black;
    outline: black solid 1px;
}
.VL
{
    border-left: 4px solid #fdfd96;
    height: 440px;
    margin-bottom: 10px;
}
.emailForm
{
    margin-left: 50px;
}
.hover
{
    transition: .5s ease;
    position: relative;
    opacity: 1;
}
.hover:hover
{
    opacity: 0.3;
}
.albumContent h2
{
    text-align: center;
}
.sidebar
{
    display: inline-block;
    vertical-align: top;
    margin-left: 8.5%;
    margin-right: 40px;

}
.a2018
{
    display: inline-block;
    vertical-align: top;
    margin-left: 27px;
    margin-bottom: 15px;
}
.a2018 #ap1
{
    margin-right: 15px;
}
.mar2018
{
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
  margin-bottom: 15px;
}
.feb2018
{
  display: inline-block;
  vertical-align: top;
  /* margin-left: 15px; */
  margin-bottom: 15px;
}
.jan2018
{
  display: inline-block;
  vertical-align: top;
  /* margin-left: 15px; */
  margin-bottom: 15px;
}
.jan2018 #Jan1
{
  margin-left: 8px;
}
.mar2018 #marchOne
{
  margin-right: 15px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
.myImg {
    cursor: pointer;
    transition: 0.3s;
}
#marchThree
{
  margin-left: 15px;
}
#marchFour
{
  margin-left: 15px;
}
.albumHR
{
  width: 1500px;
  margin-left: auto;
  margin-right: auto;
}
#Feb2
{
  margin-left: 15px;
  margin-right: 15px;
}
#Feb3
{
  margin-right: 15px;
}
